<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">

  <servlet>
    <servlet-name>ItemServlet</servlet-name>
    <servlet-class>com.mycompany.app.servlet.ItemsServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>ItemDetailServlet</servlet-name>
    <servlet-class>com.mycompany.app.servlet.ItemDetailServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>AdminItemsServlet</servlet-name>
    <servlet-class>com.mycompany.app.servlet.AdminItemsServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>OrdersServlet</servlet-name>
    <servlet-class>com.mycompany.app.servlet.OrdersServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>AdminOrdersServlet</servlet-name>
    <servlet-class>com.mycompany.app.servlet.AdminOrdersServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>CartServlet</servlet-name>
    <servlet-class>com.mycompany.app.servlet.CartServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.mycompany.app.servlet.LogoutServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>TopItemsServlet</servlet-name>
    <servlet-class>com.mycompany.app.servlet.TopItemsServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>TopOrdersServlet</servlet-name>
    <servlet-class>com.mycompany.app.servlet.TopOrdersServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>ItemServlet</servlet-name>
    <url-pattern>/itemcontroller</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>ItemDetailServlet</servlet-name>
    <url-pattern>/itemdetailcontroller</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>OrdersServlet</servlet-name>
    <url-pattern>/ordercontroller</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>CartServlet</servlet-name>
    <url-pattern>/cartcontroller</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>AdminOrdersServlet</servlet-name>
    <url-pattern>/admin/ordercontroller</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>AdminItemsServlet</servlet-name>
    <url-pattern>/admin/itemcontroller</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>TopItemsServlet</servlet-name>
    <url-pattern>/admin/topItems</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>TopOrdersServlet</servlet-name>
    <url-pattern>/admin/topOrders</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logoutcontroller</url-pattern>
  </servlet-mapping>

  <distributable />

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Admins</web-resource-name>
      <url-pattern>/admin/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>admin</role-name>
    </auth-constraint>
    <!-- <user-data-constraint>
      <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint> -->
  </security-constraint>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Users</web-resource-name>
      <url-pattern>/ordercontroller</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>user</role-name>
    </auth-constraint>
    <!-- <user-data-constraint>
      <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint> -->
  </security-constraint>

  <login-config>
    <auth-method>OIDC</auth-method>
  </login-config>

  <security-role>
    <role-name>admin</role-name>
  </security-role>

  <security-role>
    <role-name>user</role-name>
  </security-role>

</web-app>